


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Product</title>
</head>
<body>
    <div align="center">
        <h1> Edit Employee Information</h1>

        <br/>
        <form action="#" th:action="@{/save}" th: th:object="${employee}" method="post">

            <table border="0" cellpadding="10">
                <tr>
                    <td> Employee ID: </td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly">
                </td>
                </tr>

                <tr>
                    <td> Employee Name:</td>
                    <td>
                        <input type="text" th:field="*{name}" />
                    </td>
                </tr>
                <tr>
                    <td> Employee salary </td>
                    <td> <input type="text" th:field="*{salary}"> </td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="text" th:field="*{designation}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>

