<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Employee Manager</title>
</head>
<body>
<div align="center">
    <h1>Employee in Company List</h1>
    <a href="new">Create New Employee</a>
    <br/><br/>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Designation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">

            <td th:text="${employee.name}">Name</td>
            <td th:text="${employee.salary}">Brand</td>
            <td th:text="${employeeList.}">Made in</td>

            <td>
                <a th:href="@{'/edit/' + ${employee.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${employee.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Update Values</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employeeList}">
        <td th:text="${employee.id}">Employee ID</td>
        <td th:text="${employee.name}">Name</td>
        <td th:text="${employee.designation}">Designation</td>
        <td th:text="${employee.salary}">Salary</td>

        <td>
            <a th:href="@{'/edit/' + ${employee.id}}">Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/' + ${employee.id}}">Delete</a>
        </td>

    </tr>
    </tbody>
</table>

</div>
</body>
</html>